Repository jaydenseric/apollo-upload-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

Version 15.0.0.
  changelog.md
  package.json
Due: prettier -l

Amend the changelog entry for v15.0.0.
  changelog.md
Due: prettier -l

Amend the changelog entry for v14.0.0.
  changelog.md
Due: prettier -l

Update dev dependencies.
  changelog.md
  package.json
  readme.md
  test/bundle.test.mjs
Due: prettier -l

Rename variables in the test index module.
  changelog.md
  test/index.mjs
Due: prettier -l

Revert the more specific package `main` field path.
  changelog.md
  package.json
Due: prettier -l

Clearer changelog entry wording.
  changelog.md
Due: prettier -l

Update code examples to use deep imports.
  changelog.md
  public/createUploadLink.js
  public/index.js
  readme.md
Due: eslint, prettier -l

Update dependencies.
  changelog.md
  package.json
  test/public/createUploadLink.test.mjs
  test/public/formDataAppendFile.test.mjs
Due: prettier -l

Downgrade the `fetch-blob` dev dependency.
  package.json
Due: prettier -l

Version 16.0.0.
  changelog.md
  package.json
Due: prettier -l

Amend the changelog entry for v16.0.0.
  changelog.md
Due: prettier -l

Update readme with important react-native debugging info
  readme.md
Due: prettier -l

add print option
  public/createUploadLink.js
Due: eslint

Update supported Node.js versions.
  changelog.md
  package.json
  readme.md
Due: prettier -l

Also run GitHub Actions CI with Node.js v17.
  .github/workflows/ci.yml
  changelog.md
Due: prettier -l

Update dev and peer dependencies.
  changelog.md
  package.json
  test/bundle.test.mjs
  test/public/createUploadLink.test.mjs
Due: prettier -l

Configure Prettier option `singleQuote` to the default, `false`.
  .github/workflows/ci.yml
  .prettierrc.json
  changelog.md
  public/ReactNativeFile.js
  public/createUploadLink.js
  public/formDataAppendFile.js
  public/index.js
  public/index.mjs
  public/isExtractableFile.js
  readme.md
  test/bundle.test.mjs
  test/createUnexpectedCallError.mjs
  test/index.mjs
  test/public/createUploadLink.test.mjs
  test/public/formDataAppendFile.test.mjs
  test/timeLimitPromise.mjs
Due: eslint, prettier -l

Documentation tweaks.
  .editorconfig
  changelog.md
  readme.md
Due: prettier -l

Refactor tests to remove the `fetch-blob` dev dependency.
  changelog.md
  package.json
  test/public/createUploadLink.test.mjs
  test/public/formDataAppendFile.test.mjs
Due: prettier -l

Remove `./package` from the package `exports` field.
  changelog.md
  package.json
Due: prettier -l

Simplify package scripts.
  changelog.md
  package.json
Due: prettier -l

Improve bundle size testing.
  changelog.md
  test/assertBundleSize.mjs
  test/bundle.test.mjs
  test/index.mjs
  test/public/createUploadLink.test.mjs
  test/public/formDataAppendFile.test.mjs
Due: prettier -l

Tweak the test function `timeLimitPromise` error messages.
  changelog.md
  test/timeLimitPromise.mjs
Due: prettier -l

Version 17.0.0.
  changelog.md
  package.json
Due: prettier -l

Update dev dependencies.
  changelog.md
  package.json
Due: prettier -l

Simplify dev dependencies and config for ESLint.
  .eslintrc.json
  changelog.md
  package.json
  test/assertBundleSize.mjs
  test/index.mjs
  test/public/createUploadLink.test.mjs
  test/public/formDataAppendFile.test.mjs
Due: prettier -l

Update Node.js support and GitHub Actions CI config.
  .github/workflows/ci.yml
  changelog.md
  package.json
  readme.md
Due: prettier -l

Update dev dependencies.
  package.json
Due: prettier -l

Shorten public module deep import paths.
  ReactNativeFile.js
  changelog.md
  createUploadLink.js
  createUploadLink.test.mjs
  formDataAppendFile.js
  formDataAppendFile.test.mjs
  index.js
  index.mjs
  isExtractableFile.js
  package.json
  readme.md
  test.mjs
Due: eslint, prettier -l

Remove the package main index module.
  ReactNativeFile.js
  changelog.md
  createUploadLink.js
  formDataAppendFile.js
  index.js
  index.mjs
  isExtractableFile.js
  package.json
  readme.md
Due: eslint, prettier -l

Use ESM instead of CJS.
  ReactNativeFile.mjs
  changelog.md
  createUploadLink.mjs
  createUploadLink.test.mjs
  formDataAppendFile.mjs
  formDataAppendFile.test.mjs
  isExtractableFile.mjs
  package.json
  readme.md
Due: prettier -l

Updated the `extract-files` dependency to v12.
  ReactNativeFile.mjs
  changelog.md
  createUploadLink.mjs
  isExtractableFile.mjs
  package.json
  readme.md
Due: prettier -l

Node 14+ compatibility fix
  public/createUploadLink.js
Due: eslint

Update isExtractableFile import
  public/isExtractableFile.js
Due: eslint

Update ReactNativeFile import
  public/ReactNativeFile.js
Due: eslint

chore: upgrade @apollo/client to the latest
  package.json
Due: prettier -l

Update Node.js version support.
  .github/workflows/ci.yml
  changelog.md
  package.json
  readme.md
Due: prettier -l

Avoid the dev dependency `jsdoc-md`.
  changelog.md
  package.json
  readme.md
Due: prettier -l

Update dependencies.
  changelog.md
  createUploadLink.mjs
  createUploadLink.test.mjs
  formDataAppendFile.test.mjs
  package.json
  test/assertBundleSize.mjs
  test/timeLimitPromise.mjs
Due: prettier -l

Path conditions:
  eslint: any of: *.js
  prettier -l: any of: *.{json,yml,md}
