Repository jaydenseric/apollo-upload-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

.lintstagedrc.json:

{
  "*.js": "eslint",
  "*.{json,yml,md}": "prettier -l"
}

Minor comment tweaks.
  src/public/createUploadLink.js
  test/public/createUploadLink.test.js
Due: eslint

Better way to test an error.
  test/public/createUploadLink.test.js
Due: eslint

Support GET requests.
  changelog.md
  readme.md
  src/public/createUploadLink.js
  test/public/createUploadLink.test.js
Due: eslint, prettier -l

Version 14.1.0.
  changelog.md
  package.json
Due: prettier -l

Remove unnecessary formdata-node workarounds.
  changelog.md
  test/public/createUploadLink.test.js
Due: eslint, prettier -l

Use revertable-globals for tests.
  changelog.md
  package.json
  test/public/createUploadLink.test.js
  test/revertablePolyfills.js
Due: eslint, prettier -l

Remove npm-debug.log from the .gitignore file.
  .gitignore
  changelog.md
Due: prettier -l

Add default value for clientAwareness
  changelog.md
  src/public/createUploadLink.js
  test/public/createUploadLink.test.js
Due: eslint, prettier -l

Version 14.1.1.
  changelog.md
  package.json
Due: prettier -l

Update dependencies.
  changelog.md
  package.json
  test/public/createUploadLink.test.js
Due: eslint, prettier -l

Rewrite the tests to use execute from apollo-link.
  changelog.md
  test/createUnexpectedCallError.js
  test/public/createUploadLink.test.js
  test/timeoutPromise.js
Due: eslint, prettier -l

More versatile timeLimitPromise test helper.
  test/public/createUploadLink.test.js
  test/timeLimitPromise.js
  test/timeoutPromise.js
Due: eslint

Terminate the Apollo Link observable with an error when there are both errors and data.
  changelog.md
  src/public/createUploadLink.js
Due: eslint, prettier -l

Version 14.1.2.
  changelog.md
  package.json
Due: prettier -l

Remove the subscriptions-transport-ws peer dependency
  changelog.md
  package.json
Due: prettier -l

Update dependencies.
  changelog.md
  package.json
Due: prettier -l

Also run GitHub Actions with Node.js v15.
  .github/workflows/ci.yml
  changelog.md
Due: prettier -l

Update tests to account for the AbortController global being defined in Node.js v15+.
  changelog.md
  test/public/createUploadLink.test.js
Due: eslint, prettier -l

Version 14.1.3.
  changelog.md
  package.json
Due: prettier -l

fix: `@apollo/client` should be a peer dependency
  package.json
Due: prettier -l

Update redme.md
  readme.md
Due: prettier -l

Update readme.md
  readme.md
Due: prettier -l

Update a URL in the changelog entry for v14.0.0.
  changelog.md
Due: prettier -l

Update Node.js support and GitHub Actions CI config.
  .github/workflows/ci.yml
  changelog.md
  package.json
  readme.md
Due: prettier -l

Stop supporting Internet Explorer.
  changelog.md
  package.json
  readme.md
Due: prettier -l

Updated dev dependencies and convert tests from CJS to ESM.
  changelog.md
  package.json
  readme.md
  test/createUnexpectedCallError.mjs
  test/index.js
  test/index.mjs
  test/public/createUploadLink.test.mjs
  test/public/formDataAppendFile.test.mjs
  test/timeLimitPromise.mjs
Due: eslint, prettier -l

Stop using hard-rejection to detect unhandled rejections in tests.
  changelog.md
  package.json
Due: prettier -l

Remove Babel transpilation and improve package scripts.
  .eslintignore
  .gitignore
  changelog.md
  package.json
  public/ReactNativeFile.js
  public/createUploadLink.js
  public/formDataAppendFile.js
  public/index.js
  public/index.mjs
  public/isExtractableFile.js
  src/.babelrc.json
Due: eslint, prettier -l

Test the bundle size manually using esbuild and gzip-size.
  .size-limit.json
  changelog.md
  package.json
  test/bundle.test.mjs
  test/index.mjs
Due: prettier -l

Replace the package exports field public subpath folder mapping with a subpath pattern.
  changelog.md
  package.json
  public/ReactNativeFile.js
  public/createUploadLink.js
  public/formDataAppendFile.js
  public/isExtractableFile.js
  readme.md
Due: eslint, prettier -l

More specific package `main` field path.
  changelog.md
  package.json
Due: prettier -l

Documentation updates.
  public/ReactNativeFile.js
  public/createUploadLink.js
  public/index.js
  readme.md
Due: eslint, prettier -l

Use the `.js` file extension in internal `require` paths.
  changelog.md
  public/ReactNativeFile.js
  public/createUploadLink.js
  public/index.js
  public/isExtractableFile.js
Due: eslint, prettier -l

Update the changelog.
  changelog.md
Due: prettier -l

Tweak the `@apollo/client` peer dependency version format.
  package.json
Due: prettier -l

Update dev dependencies.
  package.json
Due: prettier -l

Clearer package and function `createUploadLink` description.
  changelog.md
  package.json
  public/createUploadLink.js
  readme.md
Due: eslint, prettier -l

Fix function `createUploadLink` option `fetchOptions.signal` bugs.
  changelog.md
  public/createUploadLink.js
  test/public/createUploadLink.test.mjs
Due: eslint, prettier -l
