Repository jaydenseric/apollo-upload-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

Update the changelog.
  changelog.md
Due: prettier -l

Remove Node.js v13 and add v14 to the versions tested in GitHub Actions.
  .github/workflows/ci.yml
  changelog.md
Due: prettier -l

Tidy code examples.
  changelog.md
  readme.md
  src/index.js
Due: eslint, prettier -l

Updated dependencies and supported Node.js versions.
  changelog.md
  package.json
  readme.md
Due: prettier -l

Update EditorConfig.
  .editorconfig
  changelog.md
Due: prettier -l

Update package.json
  package.json
Due: prettier -l

Improve the warning about inspecting React Native network traffic.
  readme.md
  src/index.js
Due: eslint, prettier -l

Move @apollo/client to dependencies and use a version that exists.
  package.json
Due: prettier -l

Fix tests.
  .size-limit.json
  package.json
Due: prettier -l

Remove broken support for GET requests.
  src/index.js
Due: eslint

Add back removed whitespace.
  src/index.js
Due: eslint

Update the peer dependencies to match @apollo/client v3 requirements.
  package.json
Due: prettier -l

Remove the react peer dependency.
  package.json
Due: prettier -l

Remove react from dev dependencies.
  package.json
Due: prettier -l

Use references from v3
  readme.md
Due: prettier -l

Bump@apollo/client version in dep
  package.json
Due: prettier -l

Match `apollo-client` peer deps
  package.json
Due: prettier -l

Add notes on `uri`, `headers`, and `credentials`
  readme.md
Due: prettier -l

Revert "Match `apollo-client` peer deps"
  package.json
Due: prettier -l

Documentation tweaks and fixes.
  changelog.md
  readme.md
  src/index.js
Due: eslint, prettier -l

Improve the setup instructions.
  readme.md
Due: prettier -l

Fix example code formatting.
  src/index.js
Due: eslint

Simplify the GitHub Actions CI config.
  .github/workflows/ci.yml
  changelog.md
Due: prettier -l

Ensure Babel parses .js files as scripts.
  changelog.md
  src/.babelrc.json
Due: prettier -l

Add a package exports field and support Node.js ESM.
  .eslintignore
  .gitignore
  .size-limit.json
  changelog.md
  package.json
  readme.md
  src/.babelrc.json
  src/public/ReactNativeFile.js
  src/public/createUploadLink.js
  src/public/formDataAppendFile.js
  src/public/index.js
  src/public/index.mjs
  src/public/isExtractableFile.js
Due: eslint, prettier -l

Use import instead of require for code examples.
  changelog.md
  readme.md
Due: prettier -l

Update dependencies.
  package.json
Due: prettier -l

Version 14.0.0.
  changelog.md
  package.json
Due: prettier -l

Use deep @apollo/client imports to support non React projects.
  changelog.md
  src/public/createUploadLink.js
Due: eslint, prettier -l

Version 14.0.1.
  changelog.md
  package.json
Due: prettier -l

Add tests, refactor code and fix bugs.
  changelog.md
  package.json
  src/public/createUploadLink.js
  test/index.js
  test/public/createUploadLink.test.js
  test/public/formDataAppendFile.test.js
  test/revertablePolyfills.js
Due: eslint, prettier -l

Alphabetically sort destructured imports.
  changelog.md
  src/public/createUploadLink.js
Due: eslint, prettier -l

Fixed a JSDoc default value type.
  changelog.md
  readme.md
  src/public/createUploadLink.js
Due: eslint, prettier -l

Tidy tests.
  test/public/createUploadLink.test.js
Due: eslint

Documentation URL tweaks.
  changelog.md
  readme.md
  src/public/createUploadLink.js
Due: eslint, prettier -l

Update extract-files to v9.
  changelog.md
  package.json
  src/public/ReactNativeFile.js
  src/public/createUploadLink.js
  src/public/isExtractableFile.js
Due: eslint, prettier -l

Update formdata-node and remove workarounds.
  package.json
  test/public/createUploadLink.test.js
Due: eslint, prettier -l

Path conditions:
  eslint: any of: *.js
  prettier -l: any of: *.{json,yml,md}
