Repository jaydenseric/apollo-upload-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

Tidy up.
  src/index.js
Due: eslint

Setup GitHub Sponsors funding.
  .github/funding.yml
  changelog.md
  package.json
Due: prettier -l

Version 12.1.0.
  changelog.md
  package.json
Due: prettier -l

Use apollo-client v3
  package.json
  src/index.js
Due: eslint, prettier -l

Support GET requests
  src/index.js
Due: eslint

Fix abort controller
  src/index.js
Due: eslint

remove dup
  src/index.js
Due: eslint

Update package.json
  package.json
Due: prettier -l

revert
  src/index.js
Due: eslint

Move fn into .some
  src/index.js
Due: eslint

Add additional options for link customization
  package.json
  readme.md
  src/index.js
Due: eslint, prettier -l

Stop using husky and lint-staged.
  .huskyrc.json
  .lintstagedrc.json
  changelog.md
  package.json
Due: prettier -l

Update Node.js support from v8.10+ to v10+.
  .github/workflows/ci.yml
  changelog.md
  package.json
  readme.md
Due: prettier -l

Use strict mode for scripts.
  babel.config.js
  changelog.md
  src/index.js
Due: eslint, prettier -l

Update dependencies.
  changelog.md
  package.json
Due: prettier -l

Ensure GitHub Actions CI runs for pull requests.
  .github/workflows/ci.yml
  changelog.md
Due: prettier -l

Remove package-lock.json from ignore files.
  .gitignore
  .prettierignore
  changelog.md
Due: prettier -l

Move Babel config.
  babel.config.js
  changelog.md
  src/.babelrc.json
Due: eslint, prettier -l

Misc. improvements.
  readme.md
  src/index.js
Due: eslint, prettier -l

Update the changelog.
  changelog.md
Due: prettier -l

Update external documentation link URLs.
  changelog.md
  readme.md
  src/index.js
Due: eslint, prettier -l

Use new “Apollo Graph Manager” name.
  changelog.md
  src/index.js
Due: eslint, prettier -l

Improve the examples in the readme.
  changelog.md
  readme.md
Due: prettier -l

Readme tweaks.
  readme.md
  src/index.js
Due: eslint, prettier -l

windows support
  package.json
Due: prettier -l

check for polyfill at runtime
  src/index.js
Due: eslint

Update dependencies.
  package.json
  readme.md
  src/index.js
Due: eslint, prettier -l

Improve linting.
  changelog.md
  package.json
Due: prettier -l

Configure Prettier option semi to the default, true.
  .prettierrc.json
  changelog.md
  readme.md
  src/index.js
Due: eslint, prettier -l

Version 13.0.0.
  changelog.md
  package.json
Due: prettier -l

typo
  package.json
Due: prettier -l

linting and update deps
  package.json
  src/index.js
Due: eslint, prettier -l

Update Readme for reactnative version 0.62 +
  readme.md
  src/index.js
Due: eslint, prettier -l

FIX: typo
  src/index.js
Due: eslint

prepare for @apollo/client v3
  package.json
  src/index.js
Due: eslint, prettier -l

Add graphql to peerDependencies
  package.json
Due: prettier -l

Reorder package fields.
  package.json
Due: prettier -l

Path conditions:
  eslint: any of: *.js
  prettier -l: any of: *.{json,yml,md}
